			div.container {
			width: 100%;
			border: 4px solid gray;
			}

			header {
				padding: 6em;
				color: #1aff1a;
				background-color: #1aff1a;
				background-image: url("Images/logo.png");
				clear: left;
				text-align: center;
				background-repeat: no-repeat;
				background-position: center; 
			}

			footer {
				padding: 1em;
				color: #1affff;
				background-color: #1aff1a;
				clear: left;
				text-align: center;
			}
			
			nav {
				float: left;
				max-width: 160px;
				margin: 0;
				max-height: 200px;
				background-color: #1aff1a;
			}

			nav ul {
				list-style-type: none;
				padding: 0;
				background-color: #1aff1a;
			}
			   
			nav ul a {
				text-decoration: none;
				background-color: #1aff1a;
			}

			article {
				margin-left: 169px;
				border-left: 1px solid gray;
				padding: 1em;
				overflow: hidden;
			}
			li {
				font-family:Comic Sans MS;
				color:	#ff00ff;
				text-align: center;
				border-bottom: 1px solid #555;
				background-color: #1aff1a;
			}
			
			li a {
				display: block;
				width: 169px;
				background-color: #1aff1a;
				border-bottom: none;
			}
			li a.active {
				background-color: #1affff;
				color: white;
			}
			li:last-child {
				border-bottom: none;
			}

			li a:hover:not(.active) {
				background-color: #1affff;
				color: white;
			}
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				width: 169px;
				position: absolute;
				overflow: auto;
				background-color: #1aff1a;
			}
			h1 {
				font-family: Comic Sans MS;
				color:	#ff00ff;
			}
			h4 {
				font-family: Comic Sans MS;
				color:	#ff00ff;
			}			
			h5 {
				font-family: Comic Sans MS;
				color:	#ff00ff;
			}
			p {
				font-family:Comic Sans MS;
				color:	#ff00ff;
			}